{{ define "header" }}
<!DOCTYPE html>
<html class="mdc-typography">
  <head>
    <title>Name of Item - Remanoir</title>

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.purple-indigo.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
.myfab {
right: 5%;
bottom: 5%;
position: fixed;
float: right;
z-index: 150;
}
.demo-card-wide.mdl-card {
  width: 100%;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
.demo-card-wide > .mdl-card__supporting-text {
min-height: 4em;
}

.demo-card-image.mdl-card {
  width: 256px;
  height: 256px;
  background: url('https://placekitten.com/g/256/256') center / cover;
}
.demo-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.demo-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

</style>

<script src="/assets/bundle.js"></script>

  </head>
  <body>
<!-- Simple header with fixed tabs. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
            mdl-layout--fixed-tabs">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title" id="titleBox">Name of Item</span>
    </div>
    <!-- Tabs -->
	{{ if .PageOpts.UseTabs }}
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      <a href="#fixed-tab-1" class="mdl-layout__tab is-active">Info</a>
      <a href="#fixed-tab-2" class="mdl-layout__tab">Photos</a>
      <a href="#fixed-tab-3" class="mdl-layout__tab">Log</a>
    </div>
	{{ end }}
  </header>
	{{ template "sidebar" }}
  <main class="mdl-layout__content">
{{ end }}
