{{ template "header" . }}
    <section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
      <div class="page-content">
<div class="mdl-grid">

<div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset-desktop mdl-cell--12-col-phone">
<div class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
	<h2 class="mdl-card__title-text">Description</h2>
  </div>
  <div class="mdl-card__supporting-text">
	<div id="descriptionBox">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		Mauris sagittis pellentesque lacus eleifend lacinia...
	</div>

	  <div class="hidden" id="descriptionEdit">
		<div class="mdl-textfield mdl-js-textfield">
		<textarea class="mdl-textfield__input" type="text" rows= "3" id="descriptionText" ></textarea>
		<label class="mdl-textfield__label" for="descriptionText">Text lines...</label>
		</div>
	  </div>

  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" id="descriptionEditBtn">
      Edit
    </a>
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect hidden" id="descriptionSaveBtn">
      Save
    </a>
  </div>
</div>
</div>

<div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset-desktop mdl-cell--12-col-phone" id="locationCard">
<div class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Location</h2>
  </div>
  <div class="mdl-card__supporting-text" id="locationBox">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Mauris sagittis pellentesque lacus eleifend lacinia...</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Mauris sagittis pellentesque lacus eleifend lacinia...</p>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Edit
    </a>
  </div>
  <div class="mdl-card__menu">
    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">Share</i>
    </button>
  </div>
</div>
</div>

</div>

	  </div>
    </section>
    <section class="mdl-layout__tab-panel" id="fixed-tab-2">
      <div class="page-content">
	  <!-- photo gallery -->

<div class="mdl-grid">

<div class="mdl-cell">
<!-- Image card -->
<div class="demo-card-image mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand"></div>
  <div class="mdl-card__actions">
    <span class="demo-card-image__filename">Photo Title</span>
  </div>
</div>
</div>


<div class="mdl-cell">
<!-- Image card -->
<div class="demo-card-image mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand"></div>
  <div class="mdl-card__actions">
    <span class="demo-card-image__filename">Photo Title</span>
  </div>
</div>
</div>


<div class="mdl-cell">
<!-- Image card -->
<div class="demo-card-image mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand"></div>
  <div class="mdl-card__actions">
    <span class="demo-card-image__filename">Photo Title</span>
  </div>
</div>
</div>


<div class="mdl-cell">
<!-- Image card -->
<div class="demo-card-image mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand"></div>
  <div class="mdl-card__actions">
    <span class="demo-card-image__filename">Photo Title</span>
  </div>
</div>
</div>


<div class="mdl-cell">
<!-- Image card -->
<div class="demo-card-image mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand"></div>
  <div class="mdl-card__actions">
    <span class="demo-card-image__filename">Photo Title</span>
  </div>
</div>
</div>


</div>

<!-- Colored FAB button with ripple -->
<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored myfab">
  <i class="material-icons">add</i>
</button>

	  </div>
    </section>
    <section class="mdl-layout__tab-panel" id="fixed-tab-3">
      <div class="page-content">
	  <!-- list of log cards -->

<div class="mdl-grid">



<div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset-desktop mdl-cell--12-col-phone">
<div class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
	<h2 class="mdl-card__title-text">Log Title 1</h2>
  </div>
  <div class="mdl-card__supporting-text">
	<p>Date: 2017-04-25</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Mauris sagittis pellentesque lacus eleifend lacinia...</p>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Edit
    </a>
  </div>
</div>
</div>

<div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset-desktop mdl-cell--12-col-phone">
<div class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
	<h2 class="mdl-card__title-text">Log Title 2</h2>
  </div>
  <div class="mdl-card__supporting-text">
	<p>Date: 2017-04-20</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Mauris sagittis pellentesque lacus eleifend lacinia...</p>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Edit
    </a>
  </div>
</div>
</div>

</div>

<!-- Colored FAB button with ripple -->
<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored myfab">
  <i class="material-icons">add</i>
</button>

	  </div>
    </section>

{{ template "footer" }}
