{{ template "header" . }}

<form action="#">
<div class="mdl-grid">

<div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset-desktop mdl-cell--12-col-phone">
<!-- Floating Multiline Textfield -->

<div class="mdl-textfield mdl-js-textfield">
<textarea class="mdl-textfield__input" type="text" rows= "3" id="sample5" ></textarea>
<label class="mdl-textfield__label" for="sample5">Text lines...</label>
</div>

<div class="mdl-textfield mdl-js-textfield">
<textarea class="mdl-textfield__input" type="text" rows= "3" id="sample5" ></textarea>
<label class="mdl-textfield__label" for="sample5">Text lines...</label>
</div>

</div>

</form>

{{ template "footer" }}

